body
    {
    background-color:rgb(51, 0, 0);
    background-repeat: no-repeat, repeat;
    }

h1  {color:white;
     font-family:Helvetica;
	 font-size: 50px;
	 margin-left: 20px;
	}
h2{
     color: white;
     font-family:;
     font-size: 30px;
     margin-left: 30px;
}     
p{
     color: white;
}     
div.container {
     width:100%;
     overflow:auto;
    }

div.container div{ 
     float:left;
	.p1{
		font-size: 50px;}
	}

ul.menu{
     list-style-type:none;
     margin: 0;
     padding: 0;
     width: 1550px;
     overflow: hidden;
     background-color:rgb(77, 0, 0);
}

li.menu {
     float:left;
}

li a{
     display:block;
     color: white;
     text-align:center;
     padding:14px 16px;
     text-decoration:none;
}

li a:hover{
     background-color:rgb(51, 0, 0);
}

hr#test{
     border:2px solid black;
}

div.contact {
     width:100%;
     overflow:auto;
     color: white;
    }

div.contact div{ 
     float:left;
     width: 50%;
     .p{
          font-size: 75px;}
     }
div.sign{
    text-align: right;
}
button{
     background-color:rgb(51, 0, 0);
     color: white;
     border:none;
     padding: 15px 32px;
     text-align: center;
     display: inline-block;
     font-size: 16px;
     cursor: pointer;
}
button:hover{
     background-color: rgb(77, 0, 0);
}    
div.slogan{
     font-size: 25px;
     color:white;
}

